
.idea

log

GsEndpoint/log
GsEndpoint/target
GsEndpoint/install/docker/services/esdata
GsEndpoint/install/docker/services/kibanadata



GsFrontend/.next
GsFrontend/out/
GsFrontend/node_modules

GsFrontend/package-lock.json
GsFrontend/tsconfig.tsbuildinfo
GsFrontend/npm-debug.log*
